@import 'themes/_variables.scss';

.root {
  flex-grow: 1;
}

.toolBar {
  background-color: $sectionHeadersBgColor;
  display: flex;
  justify-content: space-between;
}

.pageTitle {
  text-transform: uppercase;
}