.toolbar {
  background-image: linear-gradient(to bottom,#f6f9fb,#e6f0f7,#d7e8f3,#c7dff0,#b7d7ec);
  min-height: 96px;
  max-height: 96px;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imgLogo {
  display: flex;
  border-bottom: 1px solid #222222;
  height: 59px;
  width: 270px;
}

.title {
  text-transform: uppercase;
}