@import 'themes/_variables.scss';
@import 'themes/_functions.scss';

.content {
  background-color: map-get($theme-colors, 'backgroundDefault');
}

.container {
  margin: spacing(1px) spacing(3px) spacing(3px) spacing(3px);
  padding-top: spacing(2px);
  padding-bottom: spacing(2px);
  max-width: 100%;
  min-height: 60vh;
}